<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="/home/index">[임시]로고</a>
              <!-- #Logo Ends -->

              <button type="button" class="navbar-toggle collapsed navbar-right scroll" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            
            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li class="active"><a href="#works">Tutorial</a></li>
                 <li ><a href="#partners">Log in</a></li>
                 <li ><a href="#about">About us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<!-- Bottom Navbar start-->
<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="bottom-nav">
            
            <div class="navbar-collapse ">
                 <textarea class="col-sm-6 col-sm-offset-3 col-xs-12" style="margin-top:10px; border:1px solid #ccc; border-radius:5px" rows="2" placeholder = " Tell me Your Story" ></textarea><br/><br/>
                 <button id="submit" type="submit" class="btn btn-default col-xs-6 col-xs-offset-3" style="margin-top:2vh;">Submit</button>
            </div>
        </div>
    </div>
    
</div>

<!-- Bottom Navbar End-->
    






<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar special1 wowload fadeIn">
        <%= image_tag("/assets/portfolio/1.jpg", size:"100%") %>
        <figcaption class="chkbutton1">
            <h2>Nature</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/1.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar special2 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/2.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton2">
            <h2>Events</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="#" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar special3 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/3.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton3">
            <h2>music</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/3.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar special4 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/4.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton4">
            <h2>Vintage</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/4.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <figure class="effect-oscar special5 wowload fadeInUp">
                     <%= image_tag("/assets/portfolio/5.jpg", :alt => "rss feed") %>

        <figcaption class="chkbutton5">
            <h2>Typers</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/5.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     
     <figure class="effect-oscar special6 wowload fadeInUp">
         <%= image_tag("/assets/portfolio/6.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton6">
            <h2>hotel</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/6.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar special7 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/7.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton7">
            <h2>Chinese</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/7.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar special8 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/8.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton8">
            <h2>Dicrap</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/8.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar special9 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/9.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton9">
            <h2>Coffee</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/9.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar special10 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/10.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton10">
            <h2>cameras</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/10.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar special11 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/11.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton11">
            <h2>design</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/11.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure  class="effect-oscar special12 wowload fadeInUp">
        <%= image_tag("/assets/portfolio/12.jpg", :alt => "rss feed") %>
        <figcaption class="chkbutton12">
            <h2>studio</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="../assets/portfolio/12.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
     <br><br>
</div>
<!-- works -->



<!-- team -->
<form id ="about">
<h3 class="text-center  wowload fadeInUp">Our team</h3>
<p class="text-center  wowload fadeInLeft">Our creative team that is making everything possible</p>
<div class="row grid team  wowload fadeInUpBig">	
	<div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/team/8.jpg" alt="img01" class="img-responsive" />
        <figcaption>
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>            
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/team/10.jpg" alt="img01"/>
        <figcaption>            
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>            
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/team/12.jpg" alt="img01"/>
        <figcaption>
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>          
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-3 col-xs-6">
	<figure class="effect-chico">
        <img src="images/team/17.jpg" alt="img01"/>
        <figcaption>
            <p><b>Barbara Husto</b><br>Senior Designer<br><br><a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a></p>
        </figcaption>
    </figure>
    </div>
</div>
</form>

<!--Contact Starts-->
<div id="contact" class="spacer">
    <div class="container contactform center">
    <h2 class="text-center  wowload fadeInUp">Send your Opinion about our service!</h2>
      <div class="row wowload fadeInLeftBig">      
          <div class="col-sm-6 col-sm-offset-3 col-xs-12">      
            <input type="text" placeholder="Name">
            <textarea rows="5" placeholder="Message"></textarea>
            <button class="btn btn-primary"><i class="fa fa-paper-plane"></i> Send</button>
          </div>
      </div>
    </div>
</div>
<!--Contact Ends-->



<!-- Footer Starts -->
<div class="footer text-center spacer">
<p class="wowload flipInX"><a href="https://www.facebook.com/kyungheelion/" taget="_blank" ></a><i class="fa fa-facebook fa-2x"></i></a></p>
Copyright 2016 KHU-Likelion. All rights reserved.
</div>
<!-- # Footer Ends -->
<a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>





<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div >
<!--<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls"> 위에거 대신 이거쓰면 갤러리 뜸-->
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->    
</div>


<script>
 /*
//모든 체크모양 삭제 버튼
    $('#clear').click(function(){
       $('.effect-oscar-second').toggleClass('effect-oscar effect-oscar-second');
    });
    
   
//입력폼 나타나게 하는 버튼, 체크된 것이 없으면 작동하지 않는다.
    $('form').hide();//hide initially
    $("#confirm").click(function(e){
        var e=$('.effect-oscar-second').length;
        if(e==1){
          $('form').toggle('slow');//or just show instead of toggle
          $('html, body').animate({
            'scrollTop' : $("form").position().top-100
          });
        }
      else alert("한 명의 작가를 선택해 주세요.");
    });
    */
    
//클릭하면 체크뜨게 하는 것.
    $('[class^="chkbutton"]').on('click',function(){
        var e2=$(this).parent().index()+1;
        //체크가 아무것도 없는 상태에서 체크 시 navbar 상태변경
        if($(".effect-oscar-second").length==0){
           $(this).parent() //not sure if .special.. is parent, select the correct element
            .toggleClass('effect-oscar effect-oscar-second');
             if($('[class^="special"]').hasClass('effect-oscar-second') == true) {
                 $("textarea").attr('rows','10');
                $("#bottom-nav").css({
                    'height':'39vh',
                });
                //클릭한 작가가 화면 가장 위에 오도록 스크롤 이동, 마이너스 뒤에 있는 것은 보정하기 위해 추가한 값(수정금지...)
                $(window).scrollTop($('.special'+e2).offset().top-$('body').scrollTop($('#submit')).offset().top*3.5,'slow');
             }
              else {
                $("textarea").attr('rows','2');
                $("#bottom-nav").css({
                    'height':'10vh',
                });
             }
        }
        //체크된 상태에서 체크된 것을 누르면 체크 해제 및 상태변경, 아닌것을 누르면 경고메세지 뜨게 하는 것
       else if($(".effect-oscar-second").length==1)
       {
           //e1은 .effect-oscar-second 를 가지고 있는 class가 몇번째인지 알려준다.
           var e1=$(".effect-oscar-second").index()+1;
           
           if(e1==e2)
           {
            $(this).parent() //not sure if .special.. is parent, select the correct element
            .toggleClass('effect-oscar effect-oscar-second');
             if($('[class^="special"]').hasClass('effect-oscar-second') == true) {
                $("textarea").attr('rows','10');
                $("#bottom-nav").css({
                    'height':'39vh',
                });
             }
              else {
                $("textarea").attr('rows','2');

                $("#bottom-nav").css({
                        'height':'10vh',
                    });
                }
            }
            else alert("하나만 선택해라");
       }
        else alert("하나만 선택해라");
    });
    
    //클릭한 그림이 몇번째인지?
    $("#submit").click(function(){
       var e = $('.effect-oscar-second').index();
       alert(e+1);
    });   
    
    
    //navbar 기본상태 작게 만들어 놓는것
    $(window).ready(function () {
        var scrollh = $(this).scrollTop();
            $("#bottom-nav").css({
                
                'height':'10vh',
            });
        
    });



</script>